<!DOCTYPE html>
<html>
    <head>
        <title>Start a Live Stream:</title>
    </head>
    <body>
        <form action="/l/stream" method="get">
            <div>
                <label for="name">Name your Livestream:</label>
                <input id="name" name="name" type="text">
            </div>
            <div>
                <input type="submit" value="Start Streaming">
            </div>
        </form>
    </body>
</html>
