<!DOCTYPE html>
<html>
    <head>
        <title>Livestream</title>
    </head>
    <body>
        <video id="livestream"></video>
        <h1><%= streamname %></h1>
        <script src="/stream.js"></script>
    </body>
</html>
