<!DOCTYPE html>
<html>
    <head>
        <title>View Livestream</title>
    </head>
    <body>
        <video id="livestream" controls=""></video>
        <script src="/showstream.js"></script>
    </body>
</html>
